body {
    background-color: #1c1d25;
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

.project-name {
    color: cornsilk;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

.description {
    color: white;
    word-spacing: 5px;
    display:inline-block;
}
.keyNotes {
    color: white;
    word-spacing: 5px;
    display:inline-block;
    list-style-type: disc;
}

* {
    box-sizing: border-box;
}
  
.column {
    background-color: #1c1d25;
    float: left;
    width: 60%;
    padding: 40px;
}

.information {
    background-color: #1c1d25;
    float: left;
    width: 40%;
    padding: 40px;
    margin-top: 14%;
    top: 50%;
}

.row:after {
    background-color: #1c1d25;
    content: "";
    display: table;
    clear: both;
}